<div class="authors-list">
  <div class="btn-container">
    <a routerLink="/author/add" class="btn">Add Author</a>
  </div>

  <mat-list role="list">
    <ng-container *ngFor="let author of authors">
      <div class="item-container">
        <mat-list-item role="listitem">{{ author.name }}</mat-list-item>
        <div class="btn-container btn-container__edit">
          <a routerLink="/author/edit/{{ author.id }}" class="btn">Edit</a>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
