<div class="authors-list" *ngIf="authors$ | async as authors">
  <button mat-raised-button color="primary" (click)="addAuthor()">
    Add Author
  </button>
  <mat-list role="list">
    <ng-container *ngFor="let author of authors">
      <div class="item-container">
        <mat-list-item role="listitem">{{ author }}</mat-list-item>
        <button mat-raised-button color="accent" (click)="editAuthor(author)">
          Edit
        </button>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
