<form class="filter-container" [formGroup]="formControl">
  <mat-form-field appearance="fill">
    <mat-label>Search title or description</mat-label>
    <input
      type="text"
      matInput
      placeholder="search"
      formControlName="title"
      #input
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <select
      style="padding: 0 10px"
      matNativeControl
      #filterGenre
      formControlName="genre"
    >
      <option value="">Select Genre</option>
      <option [value]="genre" *ngFor="let genre of genres">
        {{ genre }}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Authors</mat-label>
    <mat-select multiple name="authors" formControlName="author">
      <mat-option
        #filterAuthor
        *ngFor="let author of authors"
        [value]="author"
        >{{ author }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <!-- <ngx-slider
    [(value)]="value"
    [(highValue)]="highValue"
    [options]="options"
    [formControl]="pageControl"
  ></ngx-slider> -->
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select multiple name="languages" formControlName="language">
      <mat-option
        #filterLanguage
        *ngFor="let language of languages"
        [value]="language"
        >{{ language }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>

<div class="add-button-container">
  <button mat-raised-button (click)="openBookForm()" class="add-button">
    Add Book
  </button>
</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let row">{{ row.title }}</td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let row">{{ row.author }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let row">{{ row.description }}</td>
  </ng-container>
  <ng-container matColumnDef="totalNumberOfPages">
    <th mat-header-cell *matHeaderCellDef style="min-width: 40px">Pages</th>
    <td mat-cell *matCellDef="let row">{{ row.totalNumberOfPages }}</td>
  </ng-container>
  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef style="min-width: 60px">Language</th>
    <td mat-cell *matCellDef="let row">{{ row.language }}</td>
  </ng-container>
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef style="min-width: 40px">Genre</th>
    <td mat-cell *matCellDef="let row">{{ row.genre }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="openBookCard(row)"
  ></tr>
  <tr *matNoDataRow>
    <td
      class="mat-cell"
      colspan="6"
      style="text-align: center; font-size: 20px; padding: 10px 0; width: 100%"
    >
      Nothing was found
    </td>
  </tr>
</table>
