.filter-container {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 16px;
  }
}
table {
  width: 100%;
  border-radius: 10px;
  background: rgb(236, 236, 236);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}
.mat-row {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
.add-button-container {
  display: flex;
  //   width: 100vw;
  justify-content: flex-end;
  margin-bottom: 16px;
  //   & button {
  //     align-self: flex-end;
  //   }
}
.add-button {
  background: rgb(236, 236, 236);
}
// .booklist {
//   display: flex;
//   flex-direction: column;
// }
// .book {
//   margin-bottom: 16px;
//   cursor: pointer;
// }
// .example-card {
//   max-width: 500px;
// }
// .book-footer {
//   padding: 16px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   flex-wrap: wrap;
//   & span {
//     font-size: 12px;
//     font-style: italic;
//   }
// }
