@mixin btnlike-link() {
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  & > a {
    color: rgb(34, 34, 34);
    display: inline-block;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -23px 0 20px -23px rgba(0, 0, 0, 0.8),
        23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
  }
}
