@use "../shared/styles/mixins" as *;

.nav {
  display: flex;
  margin-bottom: 25px;
  .nav-item {
    @include btnlike-link();
    margin-right: 16px;
    background: #f44336;
    .nav-link {
      font-size: 18px;
      &.active {
        background: #000;
        color: #fff;
      }
      &:hover:not(.active) {
        background: #fd6054;
      }
    }
  }
}
